ConsoleApp2/Connected Services/HDFCServiceReference/PaymentUtilities.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://hdfcergo.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://hdfcergo.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://hdfcergo.com/">
      <s:element name="GenerateRequestChecksum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransactionNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TotalAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AppID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SubscriptionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SuccessUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FailureUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateRequestChecksumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateRequestChecksumResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Encrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransactionNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TotalAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AppID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SubscriptionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SuccessUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FailureUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Checksum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Decrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cipherText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DecryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateResponseChecksum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cipherText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateResponseChecksumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateResponseChecksumResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerateRequestChecksumSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateRequestChecksum" />
  </wsdl:message>
  <wsdl:message name="GenerateRequestChecksumSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateRequestChecksumResponse" />
  </wsdl:message>
  <wsdl:message name="EncryptSoapIn">
    <wsdl:part name="parameters" element="tns:Encrypt" />
  </wsdl:message>
  <wsdl:message name="EncryptSoapOut">
    <wsdl:part name="parameters" element="tns:EncryptResponse" />
  </wsdl:message>
  <wsdl:message name="DecryptSoapIn">
    <wsdl:part name="parameters" element="tns:Decrypt" />
  </wsdl:message>
  <wsdl:message name="DecryptSoapOut">
    <wsdl:part name="parameters" element="tns:DecryptResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateResponseChecksumSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateResponseChecksum" />
  </wsdl:message>
  <wsdl:message name="GenerateResponseChecksumSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateResponseChecksumResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateRequestChecksumHttpGetIn">
    <wsdl:part name="TransactionNo" type="s:string" />
    <wsdl:part name="TotalAmount" type="s:string" />
    <wsdl:part name="AppID" type="s:string" />
    <wsdl:part name="SubscriptionID" type="s:string" />
    <wsdl:part name="SuccessUrl" type="s:string" />
    <wsdl:part name="FailureUrl" type="s:string" />
    <wsdl:part name="Source" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateRequestChecksumHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EncryptHttpGetIn">
    <wsdl:part name="TransactionNo" type="s:string" />
    <wsdl:part name="TotalAmount" type="s:string" />
    <wsdl:part name="AppID" type="s:string" />
    <wsdl:part name="SubscriptionID" type="s:string" />
    <wsdl:part name="SuccessUrl" type="s:string" />
    <wsdl:part name="FailureUrl" type="s:string" />
    <wsdl:part name="Source" type="s:string" />
    <wsdl:part name="Checksum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EncryptHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DecryptHttpGetIn">
    <wsdl:part name="cipherText" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DecryptHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerateResponseChecksumHttpGetIn">
    <wsdl:part name="cipherText" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateResponseChecksumHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerateRequestChecksumHttpPostIn">
    <wsdl:part name="TransactionNo" type="s:string" />
    <wsdl:part name="TotalAmount" type="s:string" />
    <wsdl:part name="AppID" type="s:string" />
    <wsdl:part name="SubscriptionID" type="s:string" />
    <wsdl:part name="SuccessUrl" type="s:string" />
    <wsdl:part name="FailureUrl" type="s:string" />
    <wsdl:part name="Source" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateRequestChecksumHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EncryptHttpPostIn">
    <wsdl:part name="TransactionNo" type="s:string" />
    <wsdl:part name="TotalAmount" type="s:string" />
    <wsdl:part name="AppID" type="s:string" />
    <wsdl:part name="SubscriptionID" type="s:string" />
    <wsdl:part name="SuccessUrl" type="s:string" />
    <wsdl:part name="FailureUrl" type="s:string" />
    <wsdl:part name="Source" type="s:string" />
    <wsdl:part name="Checksum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EncryptHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DecryptHttpPostIn">
    <wsdl:part name="cipherText" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DecryptHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerateResponseChecksumHttpPostIn">
    <wsdl:part name="cipherText" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateResponseChecksumHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="PaymentUtilitiesSoap">
    <wsdl:operation name="GenerateRequestChecksum">
      <wsdl:input message="tns:GenerateRequestChecksumSoapIn" />
      <wsdl:output message="tns:GenerateRequestChecksumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <wsdl:input message="tns:EncryptSoapIn" />
      <wsdl:output message="tns:EncryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <wsdl:input message="tns:DecryptSoapIn" />
      <wsdl:output message="tns:DecryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateResponseChecksum">
      <wsdl:input message="tns:GenerateResponseChecksumSoapIn" />
      <wsdl:output message="tns:GenerateResponseChecksumSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PaymentUtilitiesHttpGet">
    <wsdl:operation name="GenerateRequestChecksum">
      <wsdl:input message="tns:GenerateRequestChecksumHttpGetIn" />
      <wsdl:output message="tns:GenerateRequestChecksumHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <wsdl:input message="tns:EncryptHttpGetIn" />
      <wsdl:output message="tns:EncryptHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <wsdl:input message="tns:DecryptHttpGetIn" />
      <wsdl:output message="tns:DecryptHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateResponseChecksum">
      <wsdl:input message="tns:GenerateResponseChecksumHttpGetIn" />
      <wsdl:output message="tns:GenerateResponseChecksumHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PaymentUtilitiesHttpPost">
    <wsdl:operation name="GenerateRequestChecksum">
      <wsdl:input message="tns:GenerateRequestChecksumHttpPostIn" />
      <wsdl:output message="tns:GenerateRequestChecksumHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <wsdl:input message="tns:EncryptHttpPostIn" />
      <wsdl:output message="tns:EncryptHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <wsdl:input message="tns:DecryptHttpPostIn" />
      <wsdl:output message="tns:DecryptHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateResponseChecksum">
      <wsdl:input message="tns:GenerateResponseChecksumHttpPostIn" />
      <wsdl:output message="tns:GenerateResponseChecksumHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentUtilitiesSoap" type="tns:PaymentUtilitiesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateRequestChecksum">
      <soap:operation soapAction="http://hdfcergo.com/GenerateRequestChecksum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <soap:operation soapAction="http://hdfcergo.com/Encrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <soap:operation soapAction="http://hdfcergo.com/Decrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateResponseChecksum">
      <soap:operation soapAction="http://hdfcergo.com/GenerateResponseChecksum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentUtilitiesSoap12" type="tns:PaymentUtilitiesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateRequestChecksum">
      <soap12:operation soapAction="http://hdfcergo.com/GenerateRequestChecksum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <soap12:operation soapAction="http://hdfcergo.com/Encrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <soap12:operation soapAction="http://hdfcergo.com/Decrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateResponseChecksum">
      <soap12:operation soapAction="http://hdfcergo.com/GenerateResponseChecksum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentUtilitiesHttpGet" type="tns:PaymentUtilitiesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GenerateRequestChecksum">
      <http:operation location="/GenerateRequestChecksum" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <http:operation location="/Encrypt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <http:operation location="/Decrypt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateResponseChecksum">
      <http:operation location="/GenerateResponseChecksum" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentUtilitiesHttpPost" type="tns:PaymentUtilitiesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GenerateRequestChecksum">
      <http:operation location="/GenerateRequestChecksum" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <http:operation location="/Encrypt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <http:operation location="/Decrypt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateResponseChecksum">
      <http:operation location="/GenerateResponseChecksum" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentUtilities">
    <wsdl:port name="PaymentUtilitiesSoap" binding="tns:PaymentUtilitiesSoap">
      <soap:address location="http://202.191.196.210/UAT/PaymentUtilitiesService/PaymentUtilities.asmx" />
    </wsdl:port>
    <wsdl:port name="PaymentUtilitiesSoap12" binding="tns:PaymentUtilitiesSoap12">
      <soap12:address location="http://202.191.196.210/UAT/PaymentUtilitiesService/PaymentUtilities.asmx" />
    </wsdl:port>
    <wsdl:port name="PaymentUtilitiesHttpGet" binding="tns:PaymentUtilitiesHttpGet">
      <http:address location="http://202.191.196.210/UAT/PaymentUtilitiesService/PaymentUtilities.asmx" />
    </wsdl:port>
    <wsdl:port name="PaymentUtilitiesHttpPost" binding="tns:PaymentUtilitiesHttpPost">
      <http:address location="http://202.191.196.210/UAT/PaymentUtilitiesService/PaymentUtilities.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>